* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
  font-family: PT Mono;
}
html{
  zoom: 75%;
}
#home {
	position: absolute;
  width: 1920px;
	height: 1118px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#footer {
	position: absolute;
	width: 899px;
	height: 49.964px;
	left: 510.5px;
	top: 1047.5px;
	overflow: visible;
}
#footer_line {
	fill: transparent;
	stroke: rgba(156,184,149,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.footer_line {
	overflow: visible;
	position: absolute;
	width: 899px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#footer_text {
	position: absolute;
	width: 690px;
	height: 30.009px;
	left: 104.5px;
	top: 19.955px;
	overflow: visible;
}
#footer_me {
	left: 50px;
	top: 0.545px;
	position: absolute;
	overflow: visible;
	width: 641px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(112,112,112,1);
}
#copyright_icon {
	fill: rgba(112,112,112,1);
}
.copyright_icon {
	overflow: visible;
	position: absolute;
	width: 30.009px;
	height: 30.009px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}

#hg_pose {
	position: absolute;
	width: 350px;
	height: 550px;
	left: 1384px;
	top: 436px;
	overflow: visible;
}
#introduction {
	position: absolute;
	width: 1151px;
	height: 594px;
	left: 271px;
	top: 210px;
	overflow: visible;
}
#me_text {
	left: 0px;
	top: 260px;
	position: absolute;
	overflow: visible;
	width: 1070px;
	height: 320px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(112,112,112,1);
}
#title_text {
	left: 0px;
	top: 148px;
	position: absolute;
	overflow: visible;
	width: 400px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(112,112,112,1);
	text-transform: lowercase;
}
#intro_text {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 631px;
	white-space: nowrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(156,184,149,1);
	text-transform: lowercase;
}
.intro_name span:hover {
  color: #F37058;
}

#nav_bar {
	position: absolute;
	width: 725px;
	height: 44px;
	left: 900px;
	top: 36px;
	overflow: visible;
}
#lightmode_icon {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 894.943px;
	top: 6px;
	display: none;
	overflow: visible;
}
#hg_logo {
  position: absolute;
  width: 175px;
  height: 175px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

/***** NAVIGATION BAR *****/

#about_text {
  position: absolute;
  width: 120px;
  height: 44px;
  left: -150px;
  top: 0px;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(156,184,149,1);
  text-transform: lowercase;
}
#about_text:hover {
  color: #F37058;
}

#skills_text {
  position: absolute;
  width: 144px;
  height: 44px;
  left: 15px;
  top: 0px;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(156,184,149,1);
  text-transform: lowercase;
}
#skills_text:hover {
  color: #F37058;
}

#work_text {
  position: absolute;
  width: 96px;
  height: 44px;
  left: 205px;
  top: 0px;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(156,184,149,1);
  text-transform: lowercase;
}
#work_text:hover {
  color: #F37058;
}

#resume_text {
  position: absolute;
  width: 144px;
  height: 44px;
  left: 345px;
  top: 0px;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(156,184,149,1);
  text-transform: lowercase;
}
#resume_text:hover {
  color: #F37058;
}

#contact_text {
  position: absolute;
  width: 168px;
  height: 44px;
  left: 535px;
  top: 0px;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(156,184,149,1);
  text-transform: lowercase;
}
#contact_text:hover {
  color: #F37058;
}

/***** SOCIAL MEDIA ICON BAR *****/

#sm_icons {
  position: absolute;
  width: 45.71px;
  height: 474.65px;
  left: 62.64px;
  top: 601.85px;
  overflow: visible;
  padding: 0px;
}
#sm_line {
  fill: transparent;
  stroke: rgba(156,184,149,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.sm_line {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 150px;
  left: 22.855px;
  top: 324.65px;
  transform: matrix(1,0,0,1,0,0);
}
.twitter_icon {
  position: absolute;
  /* width: 45.675px;
  height: 37.254px; */
  left: 0.035px;
  top: 246.396px;
  overflow: visible;
  color: #707070;
}
.twitter_icon:hover {
  color: #F37058;
}
.feather-twitter{
  width: 50px;
  height: 50px;
}

.github_icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 3.3px;
  top: 0px;
  overflow: visible;
  color: #707070;
}
.github_icon:hover {
  color: #F37058;
}
.feather-github{
  width: 50px;
  height: 50px;
}

.linkedin_icon {
  position: absolute;
  /* width: 42.451px;
  height: 40.328px; */
  left: 0px;
  top: 79.657px;
  overflow: visible;
  color: #707070;
}
.linkedin_icon:hover {
  color: #F37058;
}
.feather-linkedin{
  width: 50px;
  height: 50px;
}

.instagram_icon {
  position: absolute;
  /* width: 44.41px;
  height: 44.41px; */
  left: 0px;
  top: 160.985px;
  overflow: visible;
  color: #707070;
}
.instagram_icon:hover {
  color: #F37058;
}
.feather-instagram{
  width: 50px;
  height: 50px;
}
